body{
    background-color: #f0f0f0; 
}
h1{
    text-align:center;
    margin: 0;
}
.personal{
    /* border: 1px solid rgb(61, 7, 7); */
    margin: 15px;
    padding:15px;
    background-color:#ffffff;
    box-shadow: 2px 3px 3px 3px #a0a0a0;
}
.Registerform{
    margin:auto;
    width: 850px;
    background-color: #ffffff;
    padding:30px;
    box-shadow: 2px 3px 3px 3px #a0a0a0;
}
.labelName{
}
.Address{
    margin-right: 100px;
    float: left;
}
.a_class{
    text-decoration: none;
    color: blue;
}
.btn_change{
    text-align: center;
    padding:10px;
}
.btn_change button {
    width: 100px;
    height: 50px;
    background-color: #39b437fa;
    color: white;
    border-color:white;
}